#output-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0!important;
    justify-content: center;
}
body {
    background-image: url("movie-background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}
.movie-card {
    width: 255px;
    margin: .5em;
}
img {
    height: 350px;
    width: 250px;
}

.hide {
    display: none;
}