#output-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.movie-card {
    width: 255px;
    margin: 1em;
}
img {
    height: 350px;
    width: 250px;
}

.hide {
    display: none;
}